<!DOCTYPE html>

<head>
    <title> Sorteo de puntos </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.8.1/build/ol.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.8.1/css/ol.css">
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>

    <br>


    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Sorteo de Manzanas</h1>
        <h3>Informacion DANE censo 2018</h3>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <form action="{{ url_for('data') }}" method="POST" name="data" id="data">
                    <label for="ciudad"> Seleccione una ciudad</label><br>
                    <select name="ciudad" id="ciudad">
                        <option value="Bogota y Soacha">Bogota y Soacha</option>
                        <option value="Medellin y Valle de Aburra" selected>Medellin y Valle de Aburra</option>
                        <option value="Barranquilla y Soledad">Barranquilla y Soledad</option>
                        <option value="Bucaramanga - Floridablanca - Piedecuesta">Bucaramanga - Floridablanca -
                            Piedecuesta</option>
                        <option value="Cartagena" selected>Cartagena</option>
                        <option value="Cali">Cali</option>
                        <option value="Pereira y Dosquebradas">Pereira y Dosquebradas</option>
                    </select><br>
                    <label for="punto1"> Ingrese los puntos de nivel socioeconomico bajo</label><br>
                    <input type="number" name="puntos1" id="puntos1" value=1></input><br>
                    <label for="punto2"> Ingrese los puntos de nivel socioeconomico medio</label><br>
                    <input type="number" name="puntos2" id="puntos2" value=1></input><br>
                    <label for="punto3"> Ingrese los puntos de nivel socioeconomico alto</label><br>
                    <input type="number" name="puntos3" id="puntos3" value=1></input><br>
                    <button> Enviar datos</button>
                </form>
            </div>
            <div class="col-sm-4">
                <h2>{{mensaje}}</h2>
                <ul class="list-group">
                    {% for item in arreglo %}
                    <li class="list-group-item">

                        <p>{{item[6]}}.,Estrato: {{item[3]}},
                            Latitud: {{item[4]}},
                            Longitud: {{item[5]}},<br>
                            Id Manzana: {{item[2]}}
                        </p>
                    </li>
                    {% endfor %}
                </ul> <br>
                <a href="{{ url_for('static', filename='Puntos.xlsx') }}">Descarga Los Puntos</a>
            </div>
            <div class="col-sm-4">
                <h3> Mapa de Puntos</h3>
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        var data = {{ coordenadas| safe}};



        var vectorSource = new ol.source.Vector({
            features: []
        });

        var vectorLayer = new ol.layer.Vector({
            source: vectorSource
        });

        var styleFunction = function (point) {

            let colortext = ''
            if (point[2] == "Alto") {
                colortext = 'orange'
            }
            if (point[2] == "Medio") {
                colortext = 'blue'

            }
            if (point[2] == "Bajo") {
                colortext = 'red'
            }
            varstyle = new ol.style.Style({

                text: new ol.style.Text({
                    font: '16px Calibri,sans-serif',
                    fill: new ol.style.Fill({ color: colortext }),
                    stroke: new ol.style.Stroke({
                        color: '#fff', width: 2
                    }),
                    // get the text from the feature - `this` is ol.Feature
                    // and show only under certain resolution
                    text: point[3].toString()
                })
            })
            return varstyle;
        }
        for (point of data) {

            let iconFeature = new ol.Feature({

                geometry: new ol.geom.Point([point[1], point[0]]),
                name: data.name,

            })

            iconFeature.setStyle(styleFunction(point))

            vectorSource.addFeature(iconFeature)
            console.log(iconFeature.getStyle())
        }




        var extent = vectorSource.getExtent();
        //map.getView().fit(extent);


        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }), vectorLayer
            ],
            view: new ol.View({
                projection: 'EPSG:4326',
                center: [data[0][1], data[0][0]],
                zoom: 10
            }),

        });
    </script>




</body>