{% extends "layout.html" %}

{% block content %}
<div class="portfolio-block block-intro">
    <h2> Clasificacion de Imagenes</h2>
    <h4> Dato Ingresado</h4>
    <img src="{{ url_for('static', filename='introc.png') }}"/>
    <h4> Resultados de la Clasificacion </h4>
    <h3> {{animal}} </h3>
    <form action="{{ url_for('neural.neuralCats') }}" method="POST" enctype="multipart/form-data">
        <label for="fileToUpload">Usa otra imagen:</label><br>
        <input  class="form-control-file" type="file" name="myImage" id="fileToUpload"><br>
        <input  class="btn btn-primary mb-2" type="submit" value="Subir Imagen" name="submit">
    </form>
</div>
    
{% endblock %}